@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f2643d;
  --primary-dark: #212529;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

/**NAVBAR**/
.logo {
  width: 16.25rem;
  max-height: 4.5rem;
  overflow: hidden;
  object-fit: cover;
}  

/**NAV Links**/
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 00.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);

}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-icon {
  color: #fff;
}